<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szdfc.dfsm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DongFangTheme">
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".food.activity.FoodListActivity" />
        <activity android:name=".weather.activity.WeatherActivity" />
        <activity android:name=".tourism.activity.TourismActivity" />
        <activity android:name=".travel.TravelActivity" />
        <activity android:name=".exhibition.ExhibitionActivity" />
        <activity android:name=".exhibition.ExhDetailActivity" />
        <activity android:name=".travel.ResultActivity" />
        <activity android:name=".gps.NaviActivity" />
        <activity android:name=".gps.SetAddrActivity" />
        <activity android:name=".thinktank.ThinkTankActivity" />
        <activity android:name=".thinktank.ThinkDetailActivity" />
        <activity android:name=".news.NewsActivity" />
        <activity android:name=".studytour.StudyTourActivity" />
        <activity android:name=".businessschool.BusinessSchoolActivity" />
        <activity android:name=".action.ActionsActivity" />
        <activity android:name=".thirdparty.ThirdPartyActivity" />
        <activity android:name=".businesscentre.BusinessCentreActivity" />
        <activity android:name=".fashioncentre.FashionCentreActivity" />
        <activity android:name=".competition.CompetitionActivity" />
        <activity android:name=".businesscentre.BusinessCentreDetailActivity" />
        <activity android:name=".businesscentre.BusinessCentreOrderActivity" />
        <activity
            android:name=".studytour.StudyTourDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".news.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".action.ActionsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".businessschool.BusinessSchoolDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".travel.TrainStationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".hotel.HotelActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".travel.PlanCityActivity"
            android:windowSoftInputMode="adjustPan" />

        <!--高德key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="913f239ef0a61cef911f3e2f177165e8"></meta-data>

        <!--定位service-->
        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>